.aboutContainer {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.aboutContainer>h2 {
    font-size: 32px;
    color: #0044ad;
    letter-spacing: 1px;
    font-weight: 700;
}

.aboutCont {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.aboutWrapper {
    display: flex;
    gap: 32px;
    align-items: center;
}

.aboutWrapper img {
    width: 500px;
    height: 500px;
    border-radius: 6px;
}

.aboutSingle {
    padding: 32px 20px;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aboutSingle>h2 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
}

.aboutSingle>p {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 2px;
}

@media screen and (max-width:769px) {
    .aboutCont {
        gap: 0px;
    }

    .aboutWrapper {
        flex-direction: column;
    }

    .aboutWrapper img {
        width: 100%;
        overflow: hidden;
    }

    .aboutSingle {
        padding: 20px 0px 0px;
    }
}

@media screen and (max-width:500px) {
    .aboutSingle>h2 {
        font-size: 20px;
    }

    .aboutSingle>p {
        font-size: 16px;
    }
}