.aboutContainer {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.aboutContainer>h2 {
    font-size: 32px;
    color: #0044ad;
    letter-spacing: 1px;
    font-weight: 700;
}

.aboutCont {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.aboutWrapper {
    display: flex;
    gap: 32px;
    align-items: center;
}

.aboutWrapper img {
    width: 500px;
    height: 500px;
    border-radius: 6px;
}

.aboutSingle {
    padding: 32px 20px;
    color: black;
    /* box-shadow: 0 1px 3px 1px #00000026, 0 1px 2px 0 #0000004d; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.aboutSingle>h2 {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
}

.aboutSingle>p {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 2px;
}